{% extends "base.html" %}

{% block stylesheet %}

	<link rel="stylesheet" href="/css.script/uploadstyle.css" />

{% endblock %}

{% block nav %} 

	<div class="nav-link-noncurrent nav-links"><a href="/">Home</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/brands">Shop Brands</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/compare">Compare Brands</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/articles">Articles</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/reviews">Reviews</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/about">About</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/contact">Contact</a></div>
	<div class="nav-link-noncurrent nav-links"><a href="/resources">Resources</a></div>
	
{% endblock %}

{% block content %} 
	<div class="admin-panel-linkback">
		<a class="main-links" href="/admin-panel">Back to admin panel</a>
	</div>

	<div class="center-text upload-header">
		<h2>Resources Upload:</h2>
	</div>
	
	{% if success == "yes" %}
		<div class="center-text upload-header success">
			<h2>Resource successfully uploaded</h2>
		</div>
	{% endif %}

	<form method="POST">

		
		<table class="upload-table">
			<tr>
				<td>
					<label>Resource type:</label>
				</td>
		
				<td>
					<input type="radio" name="resource-type" value="article" />Article
					<br />
					<input type="radio" name="resource-type" value="study" />Study
					<br />
					<input type="radio" name="resource-type" value="book" />Book
					<br />
					<input type="radio" name="resource-type" value="blog" />Blog
					<br />
					<input type="radio" name="resource-type" value="website" />Website
				</td>
			</tr>
			<tr>	
				<td>
					<label for="link">Link:</label>
				</td>
		
				<td>
					<input type="text" name="link" id="link" class="table-input" />
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title">Title:</label>
				</td>
		
				<td>
					<input type="text" name="title" id="title" class="table-input" />
				</td>
			</tr>
		</table>
		
		<div class="center-text">
			<input type="submit" value="Submit" class="upload-button" />
		</div>
		
	</form>
	
{% endblock %}